{
  "openapi": "3.0.0",
  "info": {
    "title": "Kadoa API",
    "version": "2.0.0",
    "contact": {
      "name": "Support",
      "email": "support@kadoa.com"
    }
  },
  "servers": [
    {
      "url": "https://api.kadoa.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v2/controller/add": {
      "post": {
        "summary": "Add a new workflow for an existing workflow pre-configuration (ENTERPRISE and PROFESSIONAL FEATURE - not available in the trial). Default configReferences available are ECOMMERCE, JOB_POSTINGS",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "URL to scrape"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional name for the workflow"
                  },
                  "interval": {
                    "type": "string",
                    "description": "Optional update interval for the workflow, must be one of the TimeFrame keys"
                  },
                  "configReference": {
                    "type": "string",
                    "description": "Reference to a specific config to clone from. To install a new config please contact the support - we will then respond with the configReference. Default configs available are ECOMMERCE, JOB_POSTINGS"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Workflow added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "workflowId": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid or missing fields)"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          },
          "404": {
            "description": "Workflow pre-configuration not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v2/controller/run/{workflowId}": {
      "put": {
        "summary": "Run a specific workflow",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow to run",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow started successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow started"
                }
              }
            }
          },
          "400": {
            "description": "workflowId missing"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        }
      }
    },
    "/v2/controller/schedule/{workflowId}": {
      "put": {
        "summary": "Schedule a specific workflow",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow to schedule",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow scheduled successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow scheduled"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date or workflowId missing"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        },
        "requestBody": {
          "description": "ISO date string required in request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "example": "2023-10-07T10:00:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/controller/change-limit/{workflowId}": {
      "put": {
        "summary": "Change the limit for a specific workflow",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow for which the limit is to be changed",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "The new limit value"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow limit changed successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow limit changed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid limit integer)"
          },
          "401": {
            "description": "x-api-key missing or not authorized / Not authorized to modify the workflow"
          }
        }
      }
    },
    "/v2/controller/pause/{workflowId}": {
      "put": {
        "summary": "Pause a specific workflow",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow to pause",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow paused successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow paused"
                }
              }
            }
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        }
      }
    },
    "/v2/controller/delete/{workflowId}": {
      "put": {
        "summary": "Delete a specific workflow",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow deleted successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow deleted"
                }
              }
            }
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        }
      }
    },
    "/v2/controller/resume/{workflowId}": {
      "put": {
        "summary": "Resume a specific workflow",
        "tags": [
          "Workflow Management"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "The ID of the workflow to resume",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow resumed successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Workflow resumed"
                }
              }
            }
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          }
        }
      }
    },
    "/v2/controller/overview": {
      "get": {
        "summary": "Retrieve an overview of the user's workflows",
        "tags": [
          "Overview"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "An array of workflow details. Returns an empty array if no workflows are found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the workflow"
                      },
                      "updateInterval": {
                        "type": "integer",
                        "description": "Interval at which the workflow updates"
                      },
                      "state": {
                        "type": "string",
                        "description": "Current state of the workflow"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation date of the workflow"
                      },
                      "nextInvocation": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time of the next scheduled invocation of the workflow"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the workflow"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          }
        }
      }
    },
    "/v2/controller/status/{workflowId}": {
      "get": {
        "summary": "Retrieve the status of a specific workflow by its ID",
        "tags": [
          "Workflow Status"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workflow"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow status details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the workflow"
                    },
                    "updateInterval": {
                      "type": "integer",
                      "description": "Interval at which the workflow updates"
                    },
                    "state": {
                      "type": "string",
                      "description": "Current state of the workflow"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation date of the workflow"
                    },
                    "nextInvocation": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of the next scheduled invocation of the workflow"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the workflow"
                    },
                    "lastRunAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Date and time of the last run of the workflow"
                    },
                    "records": {
                      "type": "integer",
                      "description": "Count of records processed by the workflow"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          },
          "404": {
            "description": "Workflow with the specified ID could not be found"
          }
        }
      }
    },
    "/v2/workflow-runs-history/{workflowId}": {
      "get": {
        "summary": "Retrieve the history of runs for a specific workflow by its ID",
        "tags": [
          "Workflow History"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workflowId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the workflow whose runs history is to be retrieved"
          }
        ],
        "responses": {
          "200": {
            "description": "History of workflow runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflowId": {
                      "type": "string",
                      "description": "Unique identifier of the workflow"
                    },
                    "workflowRuns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier of the workflow run"
                          },
                          "state": {
                            "type": "string",
                            "description": "State of the workflow run"
                          },
                          "startedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date and time of the workflow run"
                          },
                          "finishedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Finish date and time of the workflow run"
                          },
                          "screenshot": {
                            "type": "string",
                            "description": "Screenshot of the navigation during the workflow run"
                          },
                          "records": {
                            "type": "integer",
                            "description": "Number of records processed in the workflow run"
                          },
                          "protocol": {
                            "type": "object",
                            "properties": {
                              "decision": {
                                "type": "string",
                                "description": "state of the run if it FAILED"
                              },
                              "reasoning": {
                                "type": "string",
                                "description": "description why the run failed"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          },
          "404": {
            "description": "Workflow runs for the specified ID could not be found"
          }
        }
      }
    },
    "/v2/data/{workflowId}": {
      "get": {
        "summary": "Get workflow data by its ID",
        "tags": [
          "Workflow Data"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "description": "API key for authorization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "ID of the workflow to retrieve data from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Set to \"history\" for historical data (must be enabled upfront)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Format of the response data, set to \"csv\" for CSV format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreFilter",
            "in": "query",
            "required": false,
            "description": "Allows to get all raw data without applying filters to the data",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "required": false,
            "description": "Only for INCREMENTAL mode (where only new data gets scraped) - Include inactive data in the response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeAdditionalData",
            "in": "query",
            "required": false,
            "description": "Set to false if you only want the mapped and parsed data (additional data could be html / product images / etc.).",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (workflowId missing)"
          },
          "401": {
            "description": "x-api-key missing or not authorized"
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/v2/events": {
      "get": {
        "summary": "Get the list of available events for subscription",
        "tags": [
          "Event Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the event"
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the event"
                      },
                      "schema": {
                        "type": "object",
                        "description": "The schema of the event payload"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          }
        }
      }
    },
    "/v2/webhooks/subscribe": {
      "post": {
        "summary": "Subscribe to events with webhook, see available events with description on the events API",
        "tags": [
          "Webhook Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "webhookUrl",
                  "webhookHttpMethod",
                  "events"
                ],
                "properties": {
                  "webhookUrl": {
                    "type": "string",
                    "description": "The URL to send the webhook events to"
                  },
                  "webhookHttpMethod": {
                    "type": "string",
                    "description": "The HTTP method to use for the webhook (GET or POST)",
                    "enum": [
                      "GET",
                      "POST"
                    ]
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The list of events to subscribe to (available events can be fetched over the /events API)",
                      "enum": [
                        "workflow_finished",
                        "workflow_finished_first_run"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the created webhook subscription"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing request parameters"
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          }
        }
      }
    },
    "/v2/webhooks/unsubscribe/{subscriptionId}": {
      "delete": {
        "summary": "Unsubscribe from events",
        "tags": [
          "Webhook Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the webhook subscription to unsubscribe from"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription deleted successfully"
          },
          "400": {
            "description": "Invalid or missing subscriptionId"
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          },
          "404": {
            "description": "Webhook subscription not found"
          }
        }
      }
    },
    "/v2/webhooks/subscriptions": {
      "get": {
        "summary": "List all webhook subscriptions for the authenticated user",
        "tags": [
          "Webhook Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the webhook subscription"
                      },
                      "webhookConfig": {
                        "type": "object",
                        "description": "The configuration of the webhook",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL where the webhook events are sent"
                          },
                          "httpMethod": {
                            "type": "string",
                            "description": "The HTTP method to use for the webhook (GET or POST)"
                          }
                        }
                      },
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The list of subscribed events"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access, either due to missing or invalid x-api-key"
          }
        }
      }
    }
  },
  "tags": []
}